* {
    box-sizing: border-box;
}



/* Home Page */
.nav-user, .nav-login, .nav-post, .nav-logout{
    margin-top: 500px;
    display: grid;
    align-content: center;
    justify-content: center;
} 

.content {
    display: grid;
    margin-top: 50px;
}



/* Display Post */
.avatar-fontawesome {
    display: grid;
    grid-template-rows: 30% 30% 30%;
}

.avatar-img-main {
    border-radius: 50%;
}

.avatar-img-main-position {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
}

textarea[name='title'] {
    margin-top: 50px;
    width: 100%;
    height: 200px;
}

textarea[name='childComment'] {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 80px;
}

input[type='range'] {
    margin-top: 50px;
    width: 100%;
    cursor: pointer;
}

.button-filter {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.comment-date-reply {
    display: grid;
    grid-template-columns: auto auto auto;
}



/* Display Comment */
.post-comment {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 10% 60% 30%;
}

.post-comment-reply-likes {
    display: grid;
    grid-template-rows: auto auto;
}

.comment-form {
    width: 80%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.post-content {
    /* border: 1px solid black; */
    max-height: 300px;
    max-width: 300px;
    word-wrap: break-word;
}

@media (min-width: 1401px) {
    .home {
        display: grid;
        grid-template-columns: 15% auto;
        grid-column-gap: 15%;
    }
    
    .navbar {
        background-color: #f1f1f1;
        position: fixed;
        width: 220px;
        height: 100%;
        display: grid;
        grid-template-rows: 30px 30px 30px 30px;
        grid-row-gap: 30px;
        justify-content: center;
    }

    .onePost {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .img-user-title-date img, .img-user-title-date video {
        max-width: 450px;
        height: 300px;
    }

    .footer {
        text-align: center;
        margin-top: 80%;
        font-size: medium;
        font-weight: bold;
    } 
}

@media (max-width: 1400px) and (min-width: 1300px) {
    .home {
        display: grid;
        grid-template-columns: 15% auto;
        grid-column-gap: 15%;
    }
    
    .navbar {
        background-color: #f1f1f1;
        position: fixed;
        width: 220px;
        height: 100%;
        display: grid;
        grid-template-rows: 30px 30px 30px 30px;
        grid-row-gap: 30px;
        justify-content: center;
    }

    .onePost {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .img-user-title-date img, .img-user-title-date video {
        max-width: 450px;
        height: 300px;
    }

    .footer {
        text-align: center;
        margin-top: 80%;
        font-size: medium;
        font-weight: bold;
    } 
}

@media (min-width: 768px) and (max-width: 1299px) {
    .home {
        display: grid;
        grid-template-columns: 15% auto;
        grid-column-gap: 15%;
    }
    
    .navbar {
        background-color: #f1f1f1;
        position: fixed;
        width: 220px;
        height: 100%;
        display: grid;
        grid-template-rows: 30px 30px 30px 30px;
        grid-row-gap: 30px;
        justify-content: center;
    }

    .onePost {
        display: grid;
        grid-template-columns: 80% 20%;
    }

    .img-user-title-date img, .img-user-title-date video {
        max-width: 450px;
        height: 300px;
    }

    .footer {
        text-align: center;
        margin-top: 80%;
        font-size: medium;
        font-weight: bold;
    } 
}

@media (max-width: 767px) and (min-width: 576px) {
    .home {
        display: grid;
        grid-template-columns: 8% auto;
        grid-column-gap: 10%;
    }
    
    .welcome, .footer {
        display: none;
    }

    .navbar {
        background-color: #f1f1f1;
        position: fixed;
        width: 80px;
        height: 100%;
        display: grid;
        grid-template-rows: 30px 30px 30px 30px;
        grid-row-gap: 30px;
        justify-content: center;
    }

    .onePost {
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .img-user-title-date img, .img-user-title-date video {
        max-width: 360px;
        height: 250px;
    }
}

@media (max-width: 575px) {
    .home {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .welcome, .footer {
        display: none;
    }

    .navbar {
        display: none;
    }

    .onePost {
        display: grid;
        grid-template-columns: 100%;
    }

    .img-user-title-date img, .img-user-title-date video{
        max-width: 200px;
        height: 150px;
    }

    .avatar-fontawesome {
        display: none;
    }
}



/* Individual Post Page */
.postComment {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 15% 60% 25%;
}

.postComment-reply-likes {
    display: grid;
    grid-template-rows: auto auto;
}

@media (min-width: 1401px) {
    .post-main-container {
        margin: 10% 22%;
    }

    .post-individual-page {
        display: grid;
        grid-template-columns: 55% 45%;
    }

    .post-avatar-button {
        display: grid;
        grid-template-rows: 30% 30% 30%;
    }

    .post-img img, .post-img video {
        max-width: 550px; 
        height: 350px;
    }
}

@media (max-width: 1400px) and (min-width: 1300px) {
    .post-main-container {
        margin: 10% 15%;
    }

    .post-individual-page {
        display: grid;
        grid-template-columns: 65% 35%;
    }

    .post-avatar-button {
        display: grid;
        grid-template-rows: 30% 30% 30%;
    }

    .post-img img, .post-img video {
        max-width: 550px; 
        height: 350px;
    }
}

@media (min-width: 900px) and (max-width: 1299px) {
    .post-main-container {
        margin: 10% 15%;
    }

    .post-individual-page {
        display: grid;
        grid-template-columns: 80% 20%;
    }

    .post-avatar-button {
        display: grid;
        grid-template-rows: 30% 30% 30%;
    }

    .post-img img, .post-img video {
        max-width: 500px; 
        height: 300px;
    }
}

@media (max-width: 899px) {
    .post-main-container {
        margin-top: 10%;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .post-individual-page {
        display: grid;
        grid-template-rows: auto auto;
    }

    .post-avatar-button {
        display: grid;
        grid-template-columns: 30% 30% 30%;
    }

    .post-img img, .post-img video {
        max-width: 300px; 
        height: 150px;
    }
}



/* Login Page */
.login-bigger {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
}

@media (min-width: 576px) {
    .login {
        display: grid;
        grid-template-rows: 30px 50px 50px 50px;
        grid-row-gap: 30px;
        padding: 100px;
        border: 3px solid #353637;
    }
    
    .login input {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .login {
        display: grid;
        grid-template-rows: 30px 50px 50px 50px;
        grid-row-gap: 30px;
        margin: 10px;
    }
    
    .login input {
        width: 100%;
    }
}



/* Register Page */
.register-bigger {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
}

@media (min-width: 576px) {
    .register {
        display: grid;
        grid-template-rows: 30px 50px 50px 50px 50px;
        grid-row-gap: 30px;
        padding: 100px;
        border: 3px solid #353637;
    }
    
    .register input {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .register {
        display: grid;
        grid-template-rows: 30px 50px 50px 50px 50px;
        grid-row-gap: 30px;
        margin: 10px;
    }
    
    .register input {
        width: 100%;
    }
}



/* User Page */
.avatar-img {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
}

@media (min-width: 576px) {
    .grid-userinfo-posts {
        display: grid;
        grid-template-rows: auto;
        grid-gap: 50px;
        justify-content: center;
        align-content: center; 
    }
}

@media (max-width: 575px) {
    .grid-userinfo-posts {
        display: grid;
        grid-template-rows: auto;
        grid-gap: 50px;
    }

    .grid-userinfo-posts img, .grid-userinfo-posts video {
        max-width: 300px;
        height: 150px;
    }
}



/* Friends Page */
#friends-grid {
    display: grid;
    grid-template-columns: 30% 70%;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.navbar-ul button {
    border: none;
    width: 100%;
    text-align: left;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
.navbar-ul button:hover {
    background-color: #555;
    color: white;
}

.chatRoom {
    background-color:#f1f1f1;
    width: 100%;
    height: 600px;
    margin: 30px 0;
    overflow: auto;
}

.chat-right, .chat-left {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 100%;
}

.chat-li-left {
    display: grid;
    grid-template-columns: 10% 90%;
} 

.chat-li-right {
    display: grid;
    grid-template-columns: 88% 10%;
    grid-column-gap: 2%;
} 

.chat-me, .chat-mate {
    text-align: center;
    padding-top: 13px;
    border: 1px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: auto;
}

#chat-form {
    display: grid;
    grid-template-columns: 85% 15%;
    height: 40px;
}